* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Lato, sans-serif;
}

#game {
    border: 2px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.display {
    border: 2px solid #eee;
    font-size: 36px;
    padding: 20px;
    width: 500px;
    text-align: center;
}

.controls {
    border: 2px solid #eee;
    margin: 5px;
    width: 500px;
    text-align: center;
}

.btn {
    padding: 20px;
    font-size: 36px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}